@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;   
}

/*headings and logo*/

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/*navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    display: flex;
    flex-direction: row;
    float: right;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Hero image and cover text*/

#hero-outer {   /*ставим для анімаціі розмір батьківського блока*/
    height: 600px;
    width: 100%;
    overflow: hidden; /*and yor can use too: clear: both;*/  
    
    position: relative; /*вказує, що відносно зображення вирівнювати червоний фон з написом*/
}

#cover-text, #cover-text h2 {
    color:#fff; 
    padding: 10px;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;  
    
    /*animates zoom affect of loading page*/
    animation-name: hero-zoom;
    animation-duration: 5s;         /*тривалість анімації*/                            
    animation-fill-mode: forwards; /*Зберігаємо стан анімації в останньому кадрі*/
}

/*Create the level of zoom for hero image*/

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/*club ethos*/

#club-ethos {
    height: 600px;
}

#left-about {
    width: 33%;
    padding-top: 30px;
    float: left;
}

#right-about {
    width: 33%;
    padding-top: 30px;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both; /*встановивши цей параметр, ми гарантуємо, що кожен блок вмісту буде встановлений вертикально*/
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both; /*встановивши цей параметр, ми гарантуємо, що кожен блок вмісту буде встановлений вертикально*/
    margin-bottom: 50px;
}

.right-about-heading {
    text-align: right;
}

.right-about-heading {
    text-align: right;
}

#welcom {
    text-align: center;
    margin: 20px;
    font-size: 280%
}

#circle-container {
    height: 300px;
    width: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/ethos-center-image.jpg') no-repeat center center;
    height: 100%;  /*вказуємо висоту <div> інакше зображення не буде відображатись*/
    border-radius: 50%;
}

#times {
    background-image: url('../images/dublin-city.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden; /*приховується будь-яке переповнення*/
}

#times div {
    color: #fafafa;
    background-color: rgb(0, 0, 0, .6);
    width: 20%;
    height: 300px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid #fff;
    box-sizing: border-box; /*повідомляє браузеру, щоб враховував розмір з border включно*/
}
 #times h2 {
    color: #fafafa;
 }

 /*footer*/

 footer {
    height: 150px;
 }

 .social-networks {
    text-align: center;
 }

 .social-networks > li {
    display: inline;
 }

 .social-networks i {
    color: #3a3a3a;
    font-size: 160%;
    margin: 1%;
    padding: 5%;
 }

 /*Gallery*/

 #photos {
    clear: both; /*розділ з фотографіями опуститься нижче заголовка Love Running*/
    line-height: 0; /*забирає горизонтальні проміжки між фотографіями */
    column-count: 4; /*робить 4 стовця з фотографій*/
    column-gap: 0px; /*забирає вертикальні проміжки між фото*/
 }

 #photos > img {
    width: 100% /*після цього, фотки які частково перекривали інші фото, вишиковуються і
        не перекривають більше одна одну */
 }

 /* Form */

.form-section {
    clear: left;
    background: url('../images/formbg.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

 /*media queries*/

 /*For lager to medium screens size from 1200px wide and down*/
 @media screen and (max-width: 1200px) {
    #club-ethos {
       width: 65%;
       height: 1200px;
       margin: 0 auto;

    }

    #welcom {
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
       width: 100%;
       float: left;
       padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;

    }

    hr {
        display: none;
    }

    #times  div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }
 }

 /*For medium screen size from 950px wide and down*/
 @media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }

    #club-ethos {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading, .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2 {
        width: inherit;
        text-align: center;
    }

    .left-about-heading p, .left-about-heading p {
        text-align: center;
        padding: 0 20px;
    }

    #photos {
        column-count: 3;
    }
 }

 /*For screns size from 800px wide and down*/
  @media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }
 }
    